@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-600.ttf') format('truetype'); /* Safari, Android, iOS */
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', Helvetica;
	font-size: 16px;
	letter-spacing: -0.2px;
	color: #222222;

	background-color: #fdfdfd;
}

a, a:visited {
	color: #222222;
	text-decoration: none;
	border-bottom: 1px dotted #999999;
}

a:hover, a:active {
	color: #aaaaaa;
	border-bottom: 1px dotted #aaaaaa;
}

ul.custom_list {
	list-style: none;
	padding: 0;
}

ul.custom_list li {
	padding-left: 40px;
}

ul.custom_list li:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;

	content: "\f101";
}

#page-wrap  {
	max-width: 1024px;

	overflow: hidden;

	padding: 0 25px;
	margin: 25px auto;

	line-height: 25px;
}

.note {
	font-style: italic;
	font-size: 16px;
	font-weight: normal;
	color: #555555;
}

.date_information {
	margin-left: 20px;
}

.separator {
	width: 100%;
	height: 15px;
}

.link {
	color: #333333;
	text-decoration: none;
	border-bottom: none;
}

.link:hover {
	color: #aaaaaa;
	text-decoration: none;
	border-bottom: none;
}

.tag {
	display: inline-block;
	font-size: 13px;
	padding: 2px 4px;
	margin: 5px 2px;
	background-color: #eeeeee;
	border: 1px solid #dddddd !important;
	border-radius: 3px;
}

.tag:hover {
	color: #333333;
	background-color: #fefefe;
	border: 1px solid #aaaaaa !important;
}

.mobile_view {
	display: none;
}

.only_print {
	display: none;
}

.section {
	float: left;
	width: 100%;
}

#languages .item {
	float: right;
	display: inline;
	margin: 0 5px;
}

.spanish {
	width: 30px;
	height: 20px;
	background-image: url(../images/spanish.png);
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.english {
	width: 30px;
	height: 20px;
	background-image: url(../images/english.png);
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

#name {
	margin: 10px 0 20px 0;

	font-size: 40px;
	font-weight: bolder;
	letter-spacing: -2px;
	border-bottom: 1px solid #999999;

	line-height: normal;
}

#information {
	margin-bottom: 20px;
}

#links {
	margin-bottom: 20px;
}

#details {
	margin-top: 20px;
}

#details .item {
	display: block;
	width: 100%;

	overflow: hidden;

	margin-bottom: 25px;
}

#details .item h2 {
	vertical-align: top;
	display: table-cell;
	min-width: 200px;

	padding-right: 20px;

	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	text-align: right;
}

#details .item .detail {
	display: table-cell;

	width: 100%;
	height: 75px;

	padding-left: 20px;
	padding-bottom: 20px;

	border-left: 1px solid #999999;

	line-height: 22px;
}

#details .item .detail h3 {
	margin-bottom: 5px;
	font-size: 20px;
}

#details .item .detail .part {
	display: inline-block;
	float: left;
	width: 33%;

	text-align: center;
}

@media screen and (max-width: 800px) {
	#details .item {
		margin-bottom: 15px;
	}

	#details .item h2 {
		display: block;
		width: 100%;

		text-align: left;

		padding-bottom: 5px;
		padding-right: 0;
	}

	#details .item .detail {
		display: block;
		padding: 15px 0 15px 0;

		border-top: solid 1px #999999;
		border-left: none;

		height: auto;

		overflow: hidden;
	}
}

@media screen and (max-width: 550px) {
	#details .item .detail .part {
		display: block;
		width: 100%;
	}

	#details .item .detail #language_a, #details .item .detail #language_b  {
		padding-bottom: 15px;
	}

	.mobile_view {
		display: inline;
	}

	.date_information {
		margin-top: 5px;
		margin-left: 0;
	}
}

#meta {
	margin-top: 20px;
}
