html {
	background-image: none;
}

a, a:visited {
	color: #222222;
	text-decoration: none;
	border-bottom: none;
}

#page-wrap  {
	padding: 0;
	margin: 0;
	width: 1500px; /*Used to print all in the same page*/
}

#meta {
	margin-top: -45px;
}

.only_print {
	display: inline;
	visibility: visible;
}

.no_print, hint--bottom-left:after, hint--bottom-right:after {
	display: none;
	visibility: hidden;
}

.link_print:after {
	content: " (" attr(href) ")";

	font-style: italic;
	font-size: 16px;
	color: #555555;
	font-weight: normal;
}
