html {
	background-image: none;
}

#page-wrap  {
	padding: 0;
}

a, a:visited {
	color: #222222;
	text-decoration: none;
	border-bottom: none;
}

.normal {
	display: none;
	visibility: hidden;
}

.print {
	display: inline;
	visibility: visible;
}

.links {
	display: inline;
}

.link {
	color: #333333;
	text-decoration: none;
	border-bottom: none;
}

.link:after {
  content: " " attr(name) ": " attr(href);
}

.linkB:after {
	content: " (" attr(href) ")";

	font-style: italic;
	font-size: 16px;
	color: #555555;
	font-weight: normal;
}
